<div class = "hero-unit">
	<h1>Welcome to delish.us</h1>
	<p>
		Discover the best food 
		<%= link_to "delish.us", '#'%>
	</p>
	<p>
		<%= link_to "Sign Up Now!","#", class: "btn btn-primary btn-large"%>
	</p>
</div>