<!-- Partial for Footer -->

<div class="footer">
	<small>
		<%= link_to "delish.us", "http://onemonthrails.com"%> by 
		<%= link_to "Michael Ottavi-Brannon", "http://facebook.com/mottavibrannon"%>
	</small>

</div>